<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
  <div class="container-login">
    <form class="devbook-form" id="formulario-login">
      <span class="titulo">Seja bem vindo ao devbook!</span>
      <div>
        <input type="text" name="email" id="email" placeholder="Digite aqui seu e-mail">
      </div>
      <div>
        <input type="password" name="senha" id="senha" placeholder="Digite aqui a sua senha">
      </div>
      <a href="/criar-usuario">Não tem uma conta? Cadastre-se!</a>
      <button type="submit" class="btn-devbook">Login</button>
    </form>
  </div>
  {{ template "scripts" }}
  <script src="/assets/js/login.js"></script>
</body>
</html>